# Ignore binaries.

# Ignore non-custom parts of Drupal.
/docroot/sites/default/files
/docroot/core
/docroot/modules/contrib
/docroot/themes/contrib
/docroot/profiles/contrib
/docroot/themes/custom/bcb_subtheme/node_modules

# Ignore Composer-managed dependencies.

/docroot/sites/default/settings.php
*settings.local.php
*.sql
/vendor/

/.vscode/
**/node_modules
**/.cache
gatsby-old
/.editorconfig
/.gitattributes