body {
  margin-top: 0;
}

.site-heading h1 {
  word-wrap: break-word;
}

nav {
  .navbar-nav > .active > a {
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
    &:focus, &:hover {
      color: rgba(255, 255, 255, 0.8);
      background-color: transparent;
    }
  }
  .navbar-collapse, .navbar-form {
    background-color: transparent;
  }
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 1);
  line-height: 1;
  padding: 0;
  border: 0;

  li .dropdown-menu {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0;
    border: none;
    margin-top: 0;
    padding: 0;

    a:hover,
    a:focus {
      color: #555555;
    }
  }
}

.view .feed-icons {
  /*clear: both;*/
  /*margin-top: 50px;*/
  display: none;
}

.view-content {
  h2 {
    &:first-of-type {
      margin-top: 0;
    }
  }
  .field--name-body {
    h2 {
      font-size: 20px;
      margin-top: 0.2em;
    }
    p {
      font-size: 16px;
      margin-top: 0.2em;
    }
  }
  .disqus-comments-num {
    display: none;
  }
}
.node-readmore {
  font-size: 14px;
  font-weight: bold;

}

.region-sidebar-first {
  h2 {
    font-size: .75em;
  }
  a {
    font-size: .75em;
  }
  .views-row {
    margin: .3em 0;

    a {
      line-height: 1;
    }
  }
}

.field--name-field-category {
  margin-top: 1em;
}

.post-preview {
  margin-bottom: 1em;
  p {
    margin-bottom: .2em;
  }
  ul.inline li {
    padding: 0;
  }
}

.region-footer {
  .fas,
  .fa,
  .fab {
    font-size: 2rem;
    padding: 0 .5rem;
  }
}

.fa-stack {
  width: 2em;
  margin-right: .5em;
}

pre {
  font-size: .8rem;
  overflow: scroll;
}
