body {
  margin-top: 0;
}

.site-heading h1 {
  word-wrap: break-word;
}

.navbar-default {
  .navbar-nav > .active > a {
    color: #fff;
    background-color: transparent;
    &:focus, &:hover {
      color: rgba(255, 255, 255, 0.8);
      background-color: transparent;
    }
  }
  .navbar-collapse, .navbar-form {
    background-color: transparent;
  }
}

.view .feed-icons {
  /*clear: both;*/
  /*margin-top: 50px;*/
  display: none;
}

.view-content {
  h2 {
    &:first-of-type {
      margin-top: 0;
    }
  }
  .field--name-body {
    h2 {
      font-size: 20px;
      margin-top: 0.2em;
    }
    p {
      font-size: 16px;
      margin-top: 0.2em;
    }
  }
}
.node-readmore {
  font-size: 14px;
  font-weight: bold;

}

.region-sidebar-first {
  h2 {
    font-size: .75em;
  }
  a {
    font-size: .75em;
  }
  .views-row {
    margin: .3em 0;

    a {
      line-height: 1;
    }
  }
}
